
.site-footer {
  /* background-color: #466882; */
  background: #634b2c;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}

#pageImage {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
  height: 100vh;
  padding-top: 20%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* .jumbotron {
  background-size: cover;
  height: 100vh;
} */

/* .navbar {
  margin-top: -50px;
} */

#title {
  color: white;
  position: absolute;
  top: 45%;
  left: 45%;
}

/* Parallax styling from Digital Ocean Pure CSS parallax site */

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  /*background: #466882;*/
  background: #634b2c;
  /*background: #825046;*/
  color: white;
  height: 50vh;
  padding-left: 5%;
  padding-right: 5%;
}

#contactSection {
  padding-top: 3%;
}

.bg1::after {
  background-image: url("/images/homepage.jpg");
  background-repeat: no-repeat;
  /*max-height: 100%;
  width: auto;*/
}

.bg2::after {
  background-image: url("/images/botox_injection.jpg");
}

.bg3::after {
  background-image: url("/images/products.jpg");
}

.bg4::after {
  background-image: url("/images/group.jpg");
}

.bg5::after {
  background-image: url("/images/waiting_room.jpg");
}



.navbar {
  margin-top: -14rem;
}

footer {
  background-color: #466882;
  /*background-color: #826246;*/
  color: white;
}

.modal-header, .modal-footer {
  background-color: #466882;
  color: white;
}